html {
	height: 100%;
}

body {
	height: 100%;
}

.navbar {
  margin-bottom: -3%;
  background: white;
}

.navbar-brand {
	margin: 0;
	margin-left: 5%;
	padding: 0;
}
.navbar-brand > img {
	height: 100%;
	width: auto;
	margin-left: 5%;
}

li {
	max-height: 50px;
	width: auto;
}

#donate {
	padding: 0px 7px 0px 0px;
}

.jumbotron {
  background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    max-height: 450px;
    background-position: 0% 25%;
    color: white;
    margin-bottom: 40px;
    text-shadow: 0.25px 0.25px 0.25px #000000;
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(images/img1.jpg);
}

.btn-warning {
  color: #3b3a36;
  }
.panel-body {
  max-width: 95%;
  vertical-align: middle;
}

.accord-text {
  min-height: 100%;
}

.inaccord img {
  width: 100%;
  height: auto;
}

#programs img {
  max-height: 300px;
  height: auto;
}

section {
  margin-top: 3%;
}

 h3 {
  margin-bottom: 5%;
}

#partners .row {
  background-color: #f4f7f6;
  padding: 2% 5% 2% 5%;
}


#contacts {
  color: white;
  background-color: #0069b4;
  margin: 0;
}

#facebook {
  max-height: 25px;
  width: auto;
  margin-right: 2%;
}

#map {
  min-height: 100%;
}

@media (max-width: 768px) {
  .jumbotron {
    height:100%;
    background-position: 40% 70%;
    max-height: 250px;
  }
  #jumb h3{
    margin-bottom: 10%;
  }
}

@media (max-width: 480px) {
  #jumb h3{
    margin-bottom: 15%;
  }
}

@media (max-width: 438px) {
  #jumb h3{
    margin-bottom: 18%;
  }
}

@media (max-width: 336px) {
  #jumb h3{
    margin-bottom: 5%;
  }
}

@media (max-width: 308px) {
  #jumb h3{
    margin-top: -5%;
  }
}